name: Docker Image CI

on:
  push:
    branches:
      - main
    paths:
      - 'Application/**'
  pull_request:
    branches:
      - main

jobs:

  build:

    runs-on: ubuntu-latest
    env:
      registryName: registryName.azurecr.io
      repositoryName: wth/dotnetcoreapp
      dockerFolderPath: Application/src/RazorPagesTestSample
      tag: dotnetcoreapp/node-test:$(date +%s)

    steps:
     # Checkout code
    - uses: actions/checkout@main

      # Log into Azure
    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
        
    - name: Build the Docker image
      run: docker build . --file ./Application/src/RazorPagesTestSample/Dockerfile --tag dotnetcoreapp/node-test:$(date +%s)
      
    - name: Docker Push
      run: docker push wth/dotnetcoreapp
